<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzy.tour.dao.RouteDetailMapper" >
  <resultMap id="BaseResultMap" type="routeDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="route_id" property="routeId" jdbcType="INTEGER" />
    <result column="apply_num" property="applyNum" jdbcType="INTEGER" />
    <result column="route_status" property="routeStatus" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, route_id,apply_num, route_status,start_time, end_time
  </sql>
  
  <sql id="table_name">
  	t_route_detail
  </sql>
  
  <sql id="pageModelwhere">
  </sql>
  
 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table_name" />
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from <include refid="table_name" />
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <select id="getAll" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from <include refid="table_name" />  
  	<where>
	<include refid="pageModelwhere" />
	</where>
	<if test="limit != null">
		limit #{limit}
	</if>	
  </select>
  
   <!-- 获取首页路线列表 -->
  <select id="getFrontRouteInfos" parameterType="map"  resultType="RouteDetail">
  	select 
  		routeDetail.id id,
  		routeDetail.route_id routeId,
  		routeDetail.apply_num applyNum,
  		routeDetail.route_status routeStatus,
  		routeDetail.start_time startTime,
  		routeDetail.end_time endTime,
  		route.id "route.id",
  		route.title "route.title",
  		route.pic_url "route.picUrl"
	FROM t_route route INNER JOIN t_route_detail routeDetail ON route.id=routeDetail.route_id
  	<where>
		route.status='ENABLED'
		AND routeDetail.id in
		(
			SELECT id FROM (
			SELECT detail.id,detail.route_id FROM t_route_detail detail 
			ORDER BY  
				case 
					when detail.route_status ='FULLED' then 0 
					else 1 
				end
				DESC
			,detail.start_time ASC
			)temp
			GROUP BY route_id
		)
		<if test="routeType != null" >
			and route.routeType=#{routeType}
		</if>
	</where>
	ORDER BY routeDetail.start_time ASC
	<if test="limit != null">
		limit #{limit}
	</if>
  </select>
  
  <!-- 我的路线列表 -->
  <select id="getMyFrontRouteInfos" parameterType="map"  resultType="RouteDetail">
  	select 
  		routeDetail.id id,
  		routeDetail.route_id routeId,
  		routeDetail.apply_num applyNum,
  		routeDetail.route_status routeStatus,
  		routeDetail.start_time startTime,
  		routeDetail.end_time endTime,
  		route.id "route.id",
  		route.title "route.title",
  		route.pic_url "route.picUrl"
	FROM t_order o INNER JOIN t_route_detail routeDetail ON o.route_detail_id=routeDetail.id 
	INNER JOIN t_route route ON  routeDetail.route_id=route.id
	<where>
		o.order_status='PAYED' 
		AND route.status='ENABLED'
		AND o.user_id=#{userId}
		<if test="endFlg!=null">
			<choose>
				<when test="endFlg==true"><!-- 已结束 -->
				    <![CDATA[
					AND routeDetail.end_time < now()
					]]> 
				</when>
				<when test="endFlg==false"><!-- 未结束 -->
				    <![CDATA[
					AND routeDetail.end_time >= now()
					]]>
				</when>
			</choose>
		</if>
	</where>
	ORDER BY routeDetail.start_time ASC
	<if test="limit != null">
		limit #{limit}
	</if>
  </select>
  
  <insert id="addBatchs" parameterType="java.util.List">
  	insert into <include refid="table_name" /> 
  	(route_id, route_status,start_time, end_time) values
  	<foreach collection="list" item="item" index="index" separator=",">
	(#{item.routeId},#{item.routeStatus},#{item.startTime},#{item.endTime})  	
  	</foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="routeDetail" >
    insert into <include refid="table_name" /> 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="routeId != null" >
        route_id,
      </if>
      <if test="applyNum != null" >
        apply_num,
      </if>
      <if test="routeStatus != null" >
        route_status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="routeId != null" >
        #{routeId,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null" >
        #{apply_num,jdbcType=INTEGER},
      </if>
      <if test="routeStatus != null" >
        #{routeStatus,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="routeDetail" >
    update <include refid="table_name" />
    <set>
     <if test="routeId != null" >
        route_id=#{routeId,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null" >
        apply_num=#{applyNum,jdbcType=INTEGER},
      </if>
      <if test="routeStatus != null" >
        route_status = #{routeStatus,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>    
</mapper>